﻿@model Helpdesk.Models.Requests.Incident

@{
    ViewBag.Title = "Create new incident";
}

<h2>Creating new incident</h2>

<div>
    @using (Html.BeginForm("Create", "Incident", FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.LabelFor(model => Model.Category)
        @Html.EnumDropDownListFor(m => m.Category, new {@class="form-control"})
    
        @Html.LabelFor(model => Model.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })

        @Html.LabelFor(model => Model.Description)
        @Html.TextAreaFor(model => Model.Description, new { @class = "form-control" })

        <button type="submit" class="btn btn-success">Save</button>
    }
</div>