﻿@model Helpdesk.Models.Requests.Incident

<!DOCTYPE html>

<html>
    <head>
        <title>Editting incident</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm("Edit", "Incident", FormMethod.Post))
            {
                <div class="validation-summary-errors">
                    @Html.ValidationSummary()
                </div>

                @Html.HiddenFor(model => model.Requestor)

                @Html.LabelFor(model => Model.Category)
                @Html.EnumDropDownListFor(m => m.Category, new { @class = "form-control" })

                @Html.LabelFor(model => Model.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })


                @Html.LabelFor(model => Model.Description)
                @Html.TextAreaFor(model => Model.Description, new { @class = "form-control" })

                <button type="submit" class="btn btn-success">Save</button>
            }
        </div>
    </body>
</html>