﻿@model IEnumerable<Helpdesk.Models.Requests.Incident>

@{
    ViewBag.Title = "All incidents";
}

<h2>Incidents</h2>

@if (ViewBag.helpdesk)
{
    <p>
        <div class="badge">helpdesk mode</div>
    </p>
}


<table class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Created by</th>
        <th></th>
    </tr>
    @foreach (var incident in Model)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(model => incident.Id)
            </td>
            <td>
                @Html.DisplayTextFor(model => incident.Title)
            </td>
            <td>
                @Html.DisplayTextFor(model => incident.Requestor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = incident.Id})
            </td>
        </tr>

    }
</table>
@Html.ActionLink("Create new incident", "Create", null, new { @class = "btn btn-success" })

