﻿@using Microsoft.Azure.ActiveDirectory.GraphClient
@model IUser

@{
    ViewBag.Title = "User Profile";
}
<h2>@ViewBag.Title.</h2>

<table class="table table-bordered table-striped">
    

    <tr>
        <td>Display Name</td>
        <td>@Model.DisplayName</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>@Model.GivenName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td>My Azure AD Groups</td>
        <td>
            @ViewBag.groups
        </td>

    </tr>
</table>
