﻿@{
    ViewBag.Title = "About Helpdesk";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Helpdesk application is a free tool that helps you to easily manage your helpdesk tickets in the cloud.</p>
<p>Every ticket/incident can be categorized by using built-in categories: Broken Software, Broken Connection, Server Issues, Github repository events.</p>
<p>You can easily modify account if you've created the incient before or you are creator of the incident.</p>
<p>Identity management is maintained in Azure Active Directory keeping your data protected in the cloud.</p>
<p>If you want to try this tool to manage your helpdesk department work check Contact page and send an email.</p>