﻿@{
    ViewBag.Title = "Contact Helpdesk";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dariusz Kacban<br />
    Piła, Poland<br />
    <abbr title="Phone">Phone:</abbr>
    +48 605-910-031
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">darek.kacban@gmail.com</a><br />
</address>